name: Waka Readme

on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LINES_OF_CODE: true
          SHOW_OS: false
          SHOW_PROJECTS: false
          SHOW_TIMEZONE: false
          SHOW_SHORT_INFO : false
          SHOW_EDITORS : false
          SHOW_PROFILE_VIEWS : false
          SHOW_COMMIT : false
          SHOW_DAYS_OF_WEEK : false
          SHOW_LANGUAGE : false
          SHOW_LANGUAGE_PER_REPO : false 
          
